data_path.txt
.wandb_login
malaria_model_epoch1.pth
malaria_model_epoch2.pth
malaria_model_epoch3.pth
malaria_model_epoch4.pth
malaria_model_epoch5.pth
malaria_model_epoch6.pth
malaria_model_epoch7.pth
malaria_model_epoch8.pth
malaria_model_epoch9.pth
malaria_model_epoch10.pth
malaria_model_epoch11.pth
malaria_model_epoch12.pth
malaria_model_epoch13.pth
malaria_model_epoch14.pth
malaria_model_epoch15.pth
wandb 
